$color-white: #fff;
$color-blue: rgba(0, 172, 220, 1);
$color-darkblue: rgba(6, 11, 53, 1);
$color-grey: rgba(97, 96, 112, 1);
$color-title-hover: #34568b;
$color-nav: #060b35;
$color-title-hover: #34568b;
$color-accent: #00acdc;
$color-white: #fff;
